<div>
  <div class="mb-1 mt-1 py-3" [ngStyle]="{ 'background-color': '#F2F1F1' }">
    <div class="container">
      <div class="row">
        <div class="col-4 lg-8">
          <div class="media-body d-flex">
            <span>
              <img
                class="manImg"
                style="width: 50%"
                [src]="product.imageURL"
                alt="logo product"
              />
            </span>
          </div>
        </div>
        <div class="col-8">
          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <h5>{{ productName }}</h5>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col">
                <span> {{ productDescription }}</span>
              </div>
            </div>
            <div class="row align-items-end mt-3">
              <div class="col-2">
                <div class="mr-3">
                  <button class="btn btn-sm btn-danger">
                    <i class="fa fa-plus" (click)="addProductToCart()"></i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <div class="mr-3">
                  <button class="btn btn-sm btn-danger">
                    <i class="fa fa-minus" (click)="removeProductFromCart()"></i>
                  </button>
                </div>
              </div>
              <div class="col-2">
                <div class="mr-3">
                  <button
                    class="btn btn-sm"
                    [ngStyle]="{
                      'background-color':
                        stockQuantity > 0
                          ? stockQuantity > 1
                            ? stockQuantity > 15
                              ? 'green'
                              : 'yellow'
                            : 'orange'
                          : 'red'
                    }"
                  >
                    {{ stockQuantity }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
