<div class="card-header bg-white text-black mx-auto text-center">
  <h5 class="card-title text-center">{{headerTitle}}</h5>
</div>
<div class="card-header bg-danger text-white mx-auto text-center">
  <div class="mr-3">
    <button class="btn btn-sm btn-light mb-2 mr-2 mt-2">
      <i class="fa fa-shopping-cart"></i>
    </button>
    <button class="btn btn-sm btn-light rounded-circle mb-2 mr-2 mt-2">
      {{ nItems }}
    </button>
    <span class="label-item mb-2 mr-2 mt-2">Items</span>
  </div>
</div>
